{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

    div.container-bg {
        margin-top: 20px;
    }

    div.right-side {
        margin-left: 20px;
    }

    label.form-label {
        width: 100%;
        text-align: center;
    }

    button.form-submit {
        margin-top: 10px;
        width: 100%;
        background-color: #db4f66;
        color: white;
    }

    div.carousel-control {
        padding-top: 25%;
    }

</style>

<section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
            {{ product.category.name }}
        </h2>
      </div>
    </div>
    <div class="container px-0">
      <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    {{ product.name }}
                  </h5>
                  <h6>
                    {{ product.created }}
                  </h6>
                </div>
                ${{ product.price }}
              </div>
              <div class="container container-bg">
                <div class="row">
                  <div class="col-lg-7 col-md-6 px-0">
                    <div class="map_container">
                      <div class="map-responsive">
                        <img src="{{ product.image.url }}" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-lg-4 px-0 right-side">
                    <form action="#" method="post">
                      <div>
                        <label class="form-label" for="quantity">Quantity</label>
                        <input type="number" value="1" min="1" id="quantity" />
                      </div>
                      
                      <div class="d-flex ">
                        <button type="submit" class="form-submit">
                          Add to cart
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <div class="carousel_btn-box">
          <div class="carousel-control-prev carousel-control">
          </div>
          <div class="carousel-control-next carousel-control">
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}